<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>PrevWORKS - Injury Report</title>

    <link rel="stylesheet" href="{{url_for('static', filename='assets/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/fonts/fontawesome-all.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/humanbody.css')}}">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"></div>
                    <img class="d-inline float-left" src="../static/assets/img/PrevWORKS%20just%20logo.png" width="37" />
                    <div class="sidebar-brand-text mx-3"><span>PrevWorks</span></div>
                </a>
                <hr class="sidebar-divider my-0" />
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="profile.html"><i class="fas fa-user"></i><span>Profile</span></a>
                        <a class="nav-link" href="Report%20Injury.html"><i class="fab fa-wpforms"></i><span>Report Injury</span></a>
                        <a class="nav-link" href="assessment.html"><i class="fas fa-tachometer-alt"></i><span>Health Assesment</span></a>
                    </li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" href="table.html"><i class="fas fa-table"></i><span>Injuries</span></a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="login.html"><i class="far fa-user-circle"></i><span>Logout</span></a>
                    </li>
                    <li class="nav-item" role="presentation"></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid">
                        <button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <ul class="nav navbar-nav flex-nowrap ml-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow">
                                <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-right p-3 animated--grow-in" role="menu" aria-labelledby="searchDropdown">
                                    <form class="form-inline mr-auto navbar-search w-100">
                                        <div class="input-group">
                                            <input class="bg-light form-control border-0 small" type="text" placeholder="Search for ..." />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow" role="presentation">
                                <div class="nav-item dropdown no-arrow">
                                    <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">
                                        <span class="d-none d-lg-inline mr-2 text-gray-600 small" id="upper-username">Sample Name</span>
                                        <img class="border rounded-circle img-profile" src="../static/assets/img/dogs/image2.jpeg" id="upper-profile-pic" />
                                    </a>
                                    <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in" role="menu">
                                        <a class="dropdown-item" role="presentation" href="profile.html"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Profile</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" role="presentation" href="#"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="form-group">
                    <div class="card">
                        <div class="card-body">
                            <label class="mb-0 text-dark font-weight-bold" for="password-input">Knee Pain Relief Exercise</label>
                            <hr />
                            <div class="form-row">
                                <div class="col">
                                    <div>
                                        <iframe width="640" height="480" src="https://www.youtube.com/embed/TWNsxHFw0KA?autoplay=1&mute=1"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="card">
                        <div class="card-body">
                            <label class="mb-0 text-dark font-weight-bold" for="password-input">Knee Pain Relief Exercise</label>
                            <hr />
                            <div class="form-row">
                                <div class="col">
                                    <div>
                                        <iframe width="640" height="480" src="https://www.youtube.com/embed/4UxUfRb619A?autoplay=1&mute=1"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                


                <div class="form-group">
                    <div class="card">
                        <div class="card-body">
                            <label class="mb-0 text-dark font-weight-bold" for="password-input">Common Causes of Knee Pain</label>
                            <hr />
                            <div class="form-row">
                                <div class="col">
                                    <div>
                                        <ul>
                                            <li>
                                                <h6 class="text-dark font-weight-bold">Osteoarthritis.</h6> This is the “wear and tear” type of arthritis. It’s a top cause of knee pain after age 50. This condition causes the knee joint to ache or swell when you’re active. Joints affected by osteoarthritis can also be stiff early in the day.</li>
                                                <img class=" lazyloaded" height="296" src="https://www.coreconcepts.com.sg/wp-content/uploads/osteoarthritis-knee-treatment-singapore.jpg" data-src="https://www.coreconcepts.com.sg/wp-content/uploads/osteoarthritis-knee-treatment-singapore.jpg" alt="osteoarthritis" width="673">

                                            <li>
                                                <h6 class="text-dark font-weight-bold">Rheumatoid arthritis.</h6> Your shoulder can become so stiff that you can’t lift or move your arm away from your torso. Frozen shoulder can occur if there is scar tissue or it can simply happen without any particular
                                                reason.
                                                <img alt="osteoarthritis rheumatoid arthritis" height="296" src="https://www.news-medical.net/image-handler/picture/2019/12/shutterstock_482996131.jpg" srcset="https://www.news-medical.net/image-handler/ts/20191216120719/ri/673/picture/2019/12/shutterstock_482996131.jpg 673w, https://www.news-medical.net/image-handler/ts/20191216120719/ri/650/picture/2019/12/shutterstock_482996131.jpg 650w, https://www.news-medical.net/image-handler/ts/20191216120719/ri/450/picture/2019/12/shutterstock_482996131.jpg 450w"  width="673">

                                            </li>
                                            <li>
                                                <h6 class="text-dark font-weight-bold">Bursitis.</h6> A bursa is a sac that holds a small amount of fluid that’s under the skin above your joint. It helps prevent friction when the joint moves. Overuse, falls, or repeated bending and kneeling can irritate the bursa on top of your kneecap. That leads to pain and swelling. Doctors call this prepatellar bursitis. You may also hear it called ''preacher's knee."</li>
                                                <img alt="Diagram showing bursitis versus healthy knee joint." height="296" src="https://d2jx2rerrg6sh3.cloudfront.net/image-handler/picture/2019/7/By_Designua.jpg" srcset="https://d2jx2rerrg6sh3.cloudfront.net/image-handler/ts/20190709053039/ri/673/picture/2019/7/By_Designua.jpg 673w, https://d2jx2rerrg6sh3.cloudfront.net/image-handler/ts/20190709053039/ri/650/picture/2019/7/By_Designua.jpg 650w, https://d2jx2rerrg6sh3.cloudfront.net/image-handler/ts/20190709053039/ri/450/picture/2019/7/By_Designua.jpg 450w" width="673" >
                                            <li>
                                                <h6 class="text-dark font-weight-bold">Dislocated kneecap.</h6> This means that your kneecap slides out of position, causing knee pain and swelling. Your doctor may call this “patellar dislocation.”</li>
                                                <img alt="Patella tendon dislocation"  height="296" width="673" src="https://ix-cdn.brightedge.com/images/41628/41628_9082259735b94675be76729625925f46_1507824283.jpg">
                                                <img width="584" height="296" width="673" src="https://www.thehealthybodycompany.com.au/wp-content/uploads/Swollen-knee.png"  srcset="https://www.thehealthybodycompany.com.au/wp-content/uploads/Swollen-knee.png, https://www.thehealthybodycompany.com.au/wp-content/uploads/Swollen-knee-300x214.png">
                                            <li>
                                                <h6 class="text-dark font-weight-bold">IT (iliotibial) band syndrome.</h6> The iliotibial (IT) band is a piece of tough tissue that runs from your hip down to the outer part of your knee. When you overdo activity, it can become inflamed over time. That causes pain on the outer side of the knee. It’s common among runners when going downhill.</li>
                                            <li>
                                                <h6 class="text-dark font-weight-bold">Meniscal tear.</h6> Sometimes, a knee injury can cause cartilage to rip. These rough edges can get stuck in the joint, which causes pain and swelling. Many times, people will have the sensation of “catching” in the joint when they are active.</li>
                                            <li>
                                                <h6 class="text-dark font-weight-bold">Osgood-Schlatter disease.</h6> This condition happens when you’re young, when bones and other parts of the knee are still changing. It can cause a painful bump below the knee, where a tendon from the kneecap connects to the shin. Overdoing exercise, and irritation at a point on the bottom of your knee called the tibial tubercle, often make this area hurt. The ache may come and go over time. It's especially common in teenage boys and girls.</li>
                                            <li>
                                                <h6 class="text-dark font-weight-bold">Patellar tendinitis.</h6> This means you have inflammation in the tendon that connects the kneecap to the shinbone. Tendons are tough bands of tissue that connect muscles to your bones. When you overdo exercise, they can become inflamed and sore. You may also hear it called “jumper’s knee” because repetitive jumping is the most common cause.</li>
                                            <li>
                                                <h6 class="text-dark font-weight-bold">Separation.</h6> A separated shoulder can occur if you fall on your shoulder or your shoulder is hit with a strong force. The ligaments that attach your shoulder to your collar bone become stretched or torn.
                                            </li>
                                            <li>
                                                <h6 class="text-dark font-weight-bold">Dislocation.</h6> A shoulder dislocation is different from a shoulder separation. A strong blow to the shoulder can force the ball of the humerus out of the shoulder socket. A dislocation can be partial
                                                or total.</li>

                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="card">
                        <div class="card-body">
                            <label class="mb-0 text-dark font-weight-bold" for="password-input">Treatment at Home</label>
                            <hr />
                            <div class="form-row">
                                <div class="col">
                                    <div>
                                        <ul>
                                            <li>
                                                <h6 class="text-dark font-weight-bold">Rest.</h6> Do not put weight or avoid intense activity.</li>

                                            <li>
                                                <h6 class="text-dark font-weight-bold">Ice.</h6> To reduce swelling put ice on your knee using ice packs or cold towel.
                                            </li>

                                            <li>
                                                <h6 class="text-dark font-weight-bold">Compress.</h6> Support and immobilize the knee joint with wraps or tension bandage.</li>
                                            <li>
                                                <h6 class="text-dark font-weight-bold">Elevate.</h6>To reduce swelling, keep your knee above your heart.</li>
                                            <li>
                                                <h6 class="text-dark font-weight-bold">Take nonsteroidal anti-inflammatory drugs</h6>
                                            </li>
                                            
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="card">
                        <div class="card-body">
                            <label class="mb-0 text-dark font-weight-bold" for="password-input">When to See a Doctor</label>
                            <hr />
                            <div class="form-row">
                                <div class="col">
                                    <div>
                                        <ul>
                                            <li>
                                               Sudden and severe pain in knee
                                            </li>
                                            <li>
                                                Protruding bone and bleeding, or visible deformity.
                                            </li>
                                            <li>
                                                When you can't walk or You can’t place any weight on your foot after an injury.
                                            </li>
                                            <li>
                                                When you have fever 
                                            </li>
                                            <li>
                                                Moving makes a popping sound, heard a popping sound when injured
                                            </li>
                                            <li>
                                                When pain doesn't relieve after resting and home treatment. 
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="card">
                        <div class="card-body">
                            <label class="mb-0 text-dark font-weight-bold" for="password-input">Who to See</label>
                            <hr />
                            <div class="form-row">
                                <div class="col">
                                    <div>
                                        <ul>
                                            <li>Orthopedic specialist or orthopedic surgeon</li>
                                            <li>
                                                Rheumatologist
                                            </li>
                                            <li>
                                                Physical medicine or rehabilitation specialist (physiatrist)
                                            </li>
                                            <li>
                                                Sports medicine physician
                                            </li>
                                            <li>Physical therapist</li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>



</body>

</html>