<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>PrevWORKS - Injury Report</title>

    <link rel="stylesheet" href="{{url_for('static', filename='assets/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/fonts/fontawesome-all.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/humanbody.css')}}">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"></div>
                    <img class="d-inline float-left" src="../static/assets/img/PrevWORKS%20just%20logo.png" width="37" />
                    <div class="sidebar-brand-text mx-3"><span>PrevWorks</span></div>
                </a>
                <hr class="sidebar-divider my-0" />
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="profile.html"><i class="fas fa-user"></i><span>Profile</span></a>
                        <a class="nav-link" href="Report%20Injury.html"><i class="fab fa-wpforms"></i><span>Report Injury</span></a>
                        <a class="nav-link" href="assessment.html"><i class="fas fa-tachometer-alt"></i><span>Health Assesment</span></a>
                    </li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" href="table.html"><i class="fas fa-table"></i><span>Injuries</span></a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="login.html"><i class="far fa-user-circle"></i><span>Logout</span></a>
                    </li>
                    <li class="nav-item" role="presentation"></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid">
                        <button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <ul class="nav navbar-nav flex-nowrap ml-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow">
                                <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-right p-3 animated--grow-in" role="menu" aria-labelledby="searchDropdown">
                                    <form class="form-inline mr-auto navbar-search w-100">
                                        <div class="input-group">
                                            <input class="bg-light form-control border-0 small" type="text" placeholder="Search for ..." />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow" role="presentation">
                                <div class="nav-item dropdown no-arrow">
                                    <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">
                                        <span class="d-none d-lg-inline mr-2 text-gray-600 small" id="upper-username">Sample Name</span>
                                        <img class="border rounded-circle img-profile" src="../static/assets/img/dogs/image2.jpeg" id="upper-profile-pic" />
                                    </a>
                                    <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in" role="menu">
                                        <a class="dropdown-item" role="presentation" href="profile.html"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Profile</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" role="presentation" href="#"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>

                <div class="form-group">
                    <div class="card">
                        <div class="card-body">
                            <label class="mb-0 text-dark font-weight-bold" for="password-input">Back Pain Relief Exercise</label>
                            <hr />
                            <div class="form-row">
                                <div class="col">
                                    <div>
                                        <iframe width="640" height="480" src="https://www.youtube.com/embed/xIQTo3HYVVI?autoplay=1&mute=1"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="card">
                        <div class="card-body">
                            <label class="mb-0 text-dark font-weight-bold" for="password-input">Common Causes of Back Pain</label>
                            <hr />
                            <div class="form-row">
                                <div class="col">
                                    <div>
                                        <ul>
                                            <img src="https://cloud2.spineuniverse.com/sites/default/files/imagecache/large-content/wysiwyg_imageupload/50977/2021/03/30/21.png"  style="width: 400px; height: 300px; ">
                                            <li>
                                                Arthritis of the spine
                                                <li>
                                                   Spinal stenosis
                                                </li>
                                                <li>
                                                   Disc problems
                                                </li>
                                                
                                        </ul>
                                    </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="card">
                        <div class="card-body">
                            <label class="mb-0 text-dark font-weight-bold" for="password-input">Treatment at Home</label>
                            <hr />
                            <div class="form-row">
                                <div class="col">
                                    <div>
                                        <ul>
                                            <img src="https://embed.widencdn.net/img/veritas/1cmlnjmhpu/576x864px@2x/Stretching-Pinterest-v5.jpg?keep=c&amp;crop=yes&amp;u=o5culx&amp;use=3v1vo&amp;color=ffffff"  style="width: 400px; height: 300px; ">
                                            <li>
                                                <h6 class="text-dark font-weight-bold">Fixed posture</h6> </li>

                                                <li>
                                                <h6 class="text-dark font-weight-bold">Ice.</h6> To reduce swelling put ice on your back using ice packs or cold towel.
                                            </li>
                                                <h6 class="text-dark font-weight-bold">Stretching and flexibility exercises</h6> 
                                            </li>
                                            <li>
                                                <h6 class="text-dark font-weight-bold">Compress.</h6> Support and immobilize the back with wraps or tension bandage.</li>
                                            <li>
                                            <li>
                                                <h6 class="text-dark font-weight-bold">Rest. Refrain from bending or twisting motion.</h6>
                                            </li>

                                         
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="card">
                        <div class="card-body">
                            <label class="mb-0 text-dark font-weight-bold" for="password-input">When to See a Doctor</label>
                            <hr />
                            <div class="form-row">
                                <div class="col">
                                    <div>
                                        <ul>
                                            <li>Does not improve with rest</li>
                                           
                                            <li>
                                                when you feel numbness in your legs
                                            </li>
                                            <li>
                                                When you have fever 
                                            </li>
                                           <li>
                                                When you experience weight loss 
                                            </li>
                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="card">
                        <div class="card-body">
                            <label class="mb-0 text-dark font-weight-bold" for="password-input">Who to See</label>
                            <hr />
                            <div class="form-row">
                                <div class="col">
                                    <div>
                                        <ul>
                                            <li> Orthopedic specialist</li>
                                            <li>
                                                 Chiropractors
                                            </li>
                                            <li>
                                                Primary care physicians
                                            </li>
                                            <li>
                                                Physical therapist
                                            </li>
                                 

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</body>

</html>