<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>PrevWORKS - Injury Report</title>

    <link rel="stylesheet" href="{{url_for('static', filename='assets/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/fonts/fontawesome-all.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/humanbody.css')}}">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"></div>
                    <img class="d-inline float-left" src="../static/assets/img/PrevWORKS%20just%20logo.png" width="37" />
                    <div class="sidebar-brand-text mx-3"><span>PrevWorks</span></div>
                </a>
                <hr class="sidebar-divider my-0" />
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="profile.html"><i class="fas fa-user"></i><span>Profile</span></a>
                        <a class="nav-link" href="Report%20Injury.html"><i class="fab fa-wpforms"></i><span>Report Injury</span></a>
                        <a class="nav-link" href="assessment.html"><i class="fas fa-tachometer-alt"></i><span>Health Assesment</span></a>
                    </li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" href="table.html"><i class="fas fa-table"></i><span>Injuries</span></a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="login.html"><i class="far fa-user-circle"></i><span>Logout</span></a>
                    </li>
                    <li class="nav-item" role="presentation"></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid">
                        <button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <ul class="nav navbar-nav flex-nowrap ml-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow">
                                <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-right p-3 animated--grow-in" role="menu" aria-labelledby="searchDropdown">
                                    <form class="form-inline mr-auto navbar-search w-100">
                                        <div class="input-group">
                                            <input class="bg-light form-control border-0 small" type="text" placeholder="Search for ..." />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow" role="presentation">
                                <div class="nav-item dropdown no-arrow">
                                    <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">
                                        <span class="d-none d-lg-inline mr-2 text-gray-600 small" id="upper-username">Sample Name</span>
                                        <img class="border rounded-circle img-profile" src="../static/assets/img/dogs/image2.jpeg" id="upper-profile-pic" />
                                    </a>
                                    <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in" role="menu">
                                        <a class="dropdown-item" role="presentation" href="profile.html"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Profile</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" role="presentation" href="#"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>

                <div class="form-group">
                    <div class="card">
                        <div class="card-body">
                            <label class="mb-0 text-dark font-weight-bold" for="password-input">Chest Pain Relief Exercise</label>
                            <hr />
                            <div class="form-row">
                                <div class="col">
                                    <div>
                                        <iframe width="640" height="480" src="https://www.youtube.com/embed/BHmDTgPDZlc?autoplay=1&mute=1"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                


                <div class="form-group">
                    <div class="card">
                        <div class="card-body">
                            <label class="mb-0 text-dark font-weight-bold" for="password-input">Common Causes of Chest Pain</label>
                            <hr />
                            <div class="form-row">
                                <div class="col">
                                    <div>
                                        <ul>
                                            <img style="width: 600px; height: 320px; "src="https://scontent-lax3-2.xx.fbcdn.net/v/t1.18169-9/13239074_487890404739223_5619183286740742120_n.jpg?_nc_cat=107&amp;ccb=1-5&amp;_nc_sid=9267fe&amp;_nc_ohc=b2H6gVrQevEAX9K2WsM&amp;_nc_ht=scontent-lax3-2.xx&amp;oh=7875f6fe3fc9fd11c32e5c11c79c285d&amp;oe=61C126B9"> 
                                            
                                            <li><h6 class="text-dark font-weight-bold">Broken rib</h6></li>
                                            <li><h6 class="text-dark font-weight-bold">Muscle problem</h6></li>
                                            <li>
                                                <h6 class="text-dark font-weight-bold">Problems in Digestive system</h6></li>
                                            <li>
                                                <h6 class="text-dark font-weight-bold">Problems in Lung.</h6></li>
                                            <li>
                                                <h6 class="text-dark font-weight-bold">Heart attack or coronary artery disease</h6> </li>
                                            <li>
                                                <h6 class="text-dark font-weight-bold">Stress or anxiety can cause chest pain</h6></li>
                                            
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="card">
                        <div class="card-body">
                            <label class="mb-0 text-dark font-weight-bold" for="password-input">Treatment at Home</label>
                            <hr />
                            <div class="form-row">
                                <div class="col">
                                    <div>
                                        <ul>
                                   
                                            <li>
                                                <h6 class="text-dark font-weight-bold">Ice.</h6> To reduce swelling and pain put ice on your ankle using ice packs or cold towel.
                                            </li>
                                            <li>
                                                <h6 class="text-dark font-weight-bold">Rest.</h6> </li>
                                            <li>
                                                <h6 class="text-dark font-weight-bold">Consumption of warm water can help remove gas in the body.</h6> </li>
                                            <li>
                                            <li>
                                                <h6 class="text-dark font-weight-bold">Fixed posture and back massage can reduce chest pain</h6> </li>
                                            <li>
                                            
                                            
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="card">
                        <div class="card-body">
                            <label class="mb-0 text-dark font-weight-bold" for="password-input">When to See a Doctor</label>
                            <hr />
                            <div class="form-row">
                                <div class="col">
                                    <div>
                                        <ul>
                                            <img src="https://www.verywellhealth.com/thmb/UM6DvwXB5UWL_5_GndhWvRDnh6A=/1333x1000/smart/filters:no_upscale()/right-sided-chest-pain-symptoms-and-possible-causes-4116859-5c77334ec9e77c00012f815f.png" style="width: 600px; height: 320px; ">
                                            <li>Sudden sharp chest pain, feeling pressure or short breath</li>
                                            <li>
                                               When you have low heart rate or have trouble swallowing. 
                                            </li>
                                            <li>
                                               When pain expands to other parts such as back or arm.
                                            </li>
                                        
                                            <li>
                                                When you have fever or have yello mucus
                                            </li>
                                           
                                            
                                             
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="card">
                        <div class="card-body">
                            <label class="mb-0 text-dark font-weight-bold" for="password-input">Who to See</label>
                            <hr />
                            <div class="form-row">
                                <div class="col">
                                    <div>
                                        <ul>
                                        
                                            <li>Cardiologists.</li>
                                            <li>
                                                Electrophysiologists.
                                            </li>
                                            <li>
                                                Cardiac and vascular surgeons.
                                            </li>
                                            <li>
                                                Pulmonologists.
                                            </li>
                                            <li>Oncologists.</li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>



</body>

</html>