<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>PrevWORKS - Employee Profile</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/humanbody.css">
</head>
<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"></div><img class="d-inline float-left" src="assets/img/PrevWORKS%20just%20logo.png" width="37">
                    <div class="sidebar-brand-text mx-3"><span>PrevWorks</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="profile.html"><i class="fas fa-user"></i><span>Profile</span></a>  <a class="nav-link" href="reportInjury.html"><i class="fab fa-wpforms"></i><span>Report Injury</span></a><a class="nav-link" href="assessment.html"><i class="fas fa-tachometer-alt"></i><span>Health Assesment</span></a></li>
                    <li
                        class="nav-item" role="presentation"></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="table.html"><i class="fas fa-table"></i><span>Injuries</span></a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="login.html"><i class="far fa-user-circle"></i><span>Logout</span></a></li>
                        <li class="nav-item" role="presentation"></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <ul class="nav navbar-nav flex-nowrap ml-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-right p-3 animated--grow-in" role="menu" aria-labelledby="searchDropdown">
                                    <form class="form-inline mr-auto navbar-search w-100">
                                        <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                            <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow" role="presentation">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><span id="full-name" class="d-none d-lg-inline mr-2 text-gray-600 small">Valerie Luna</span><img id="upper-profile-pic" class="border rounded-circle img-profile" src="assets/img/dogs/image2.jpeg"></a>
                                    <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in" role="menu">
                                        <a class="dropdown-item" role="presentation" href="profile.html"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Profile</a>
                                            <div class="dropdown-divider"></div><a class="dropdown-item" role="presentation" href="#"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a></div>
                    </div>
                    </li>
                    </ul>
            </div>
            </nav>
            <div class="container-fluid" style="padding: 24px 24px ;">
                <h3 class="text-dark mb-4">Profile</h3>
                <div class="row mb-3">
                    <div class="col-lg-4">
                        <div class="card mb-3">
                            <div class="card-body text-center shadow"><img id="profile-pic" class="rounded-circle mb-3 mt-4" src="assets/img/dogs/image2.jpeg" width="160" height="160">
                                <div class="mb-3">
                                    <button class="btn btn-primary btn-sm" type="button" data-target="#profilePicModal" data-toggle="modal">Change Photo</button>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="card shadow">
                            <div class="card-header py-3">
                                <p class="text-primary m-0 font-weight-bold">Employment Info</p>
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="form-group"><label for="company-name"><strong>Company Name</strong></label><input id="company-name" class="form-control" type="text" placeholder="Name of Company" name="company-name" disabled=""></div>
                                    <div class="form-group"><label for="email"><strong>Employee ID</strong></label><input id="employee-id" class="form-control" type="text" placeholder="ID" name="employee-id" disabled=""></div>
                                    <div class="form-group"><label for="email"><strong>Occupation</strong></label><input id="occupation" class="form-control" type="text" placeholder="Occupation" name="occupation" disabled=""></div>
                                    <div class="form-group"><label for="email"><strong>Previous Occupation</strong></label><input id="prev-occupation" class="form-control" type="text" placeholder="Previous Occupation" name="prev-occupation" disabled=""></div>
                                    <div class="form-group"><label for="supervisor"><strong>Supervisor</strong></label><input id="supervisor" class="form-control" type="text" placeholder="Name of supervisor" name="supervisor" disabled=""></div>
                                </form>
                            </div>
                        </div> -->
                    </div>
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col">
                                <div class="card shadow mb-3">
                                    <div class="card-header py-3">
                                        <p class="text-primary m-0 font-weight-bold">Contact Settings</p>
                                    </div>
                                    <div class="card-body">
                                        <form action="/edit" method="post" onsubmit="return reportAlert()">
                                            <div class="form-group">
                                                <div class="form-row">
                                                    <div class="col">
                                                        <div class="form-group"><label for="email"><strong>Email</strong></label><input name="email" id="email" class="form-control" type="email" placeholder=getCookie(email) disabled=""></div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group"><label for="phone"><strong>Phone</strong></label><input name="phone" id="phone" class="form-control" type="tel" placeholder=getCookie(phone)></div>
                                                    </div>
                                                </div><label for="street-address"><strong>Address</strong></label><input name="street" id="street-address" class="form-control" type="text" placeholder="Sunset Blvd, 38" ></div>
                                            <div class="form-row">
                                                <div class="col">
                                                    <div class="form-group"><label for="city"><strong>City</strong></label><input name="city" id="city" class="form-control" type="text" placeholder="Los Angeles" ></div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group"><label for="state"><strong>State</strong></label><input name="state" id="state" class="form-control" type="text" placeholder="CA"></div>
                                                </div>
                                            </div>
                                            <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">Save&nbsp;Settings</button></div>
                                        </form>
                                    </div>
                                </div>
                                <div class="card shadow mb-3">
                                    <div class="card-header py-3">
                                        <p class="text-primary m-0 font-weight-bold">User Settings</p>
                                    </div>
                                    <div class="card-body">
                                        <form action="/edit" method="post" onsubmit="return reportAlert()">
                                            <div class="form-row">
                                                <div class="col">
                                                    <div class="form-group"><label for="first-name"><strong>First Name</strong></label><input id="first-name" class="form-control" type="text" placeholder=getCookie(firstName) name="first_name" disabled=""></div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group"><label for="last-name"><strong>Last Name</strong></label><input id="last-name" class="form-control" type="text" placeholder=getCookie(lastName) name="last_name" disabled=""></div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col">
                                                    <div class="form-group"><label for="gender"><strong>Gender</strong></label><select id="gender" name="gender" class="form-control"><optgroup label="Select one:"><option value="0" selected="">-- Select --</option><option value="male">male</option><option value="female">female</option><option value="non-binary">non-binary</option></optgroup></select></div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group"><label for="birthday"><strong>Birth Date</strong></label><input class="form-control" type="date" disabled="" id="birthday" name="birthday"></div>
                                                </div>
                                            </div>
                                            <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">Save Settings</button></div>
                                        </form>
                                    </div>
                                </div>
                                <!-- <div class="card shadow">
                                    <div class="card-header py-3">
                                        <p class="text-primary m-0 font-weight-bold">Contact Settings</p>
                                    </div>
                                    <div class="card-body">
                                        <form action="/edit" method="post" onsubmit="return reportAlert()">
                                            <div class="form-group">
                                                <div class="form-row">
                                                    <div class="col">
                                                        <div class="form-group"><label for="email"><strong>Email</strong></label><input name="email" id="email" class="form-control" type="email" placeholder=getCookie(email) disabled=""></div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group"><label for="phone"><strong>Phone</strong></label><input name="phone" id="phone" class="form-control" type="tel" placeholder=getCookie(phone)></div>
                                                    </div>
                                                </div><label for="street-address"><strong>Address</strong></label><input name="street" id="street-address" class="form-control" type="text" placeholder="Sunset Blvd, 38" ></div>
                                            <div class="form-row">
                                                <div class="col">
                                                    <div class="form-group"><label for="city"><strong>City</strong></label><input name="city" id="city" class="form-control" type="text" placeholder="Los Angeles" ></div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group"><label for="state"><strong>State</strong></label><input name="state" id="state" class="form-control" type="text" placeholder="CA"></div>
                                                </div>
                                            </div>
                                            <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">Save&nbsp;Settings</button></div>
                                        </form>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card shadow">
                            <div class="card-header py-3">
                                <p class="text-primary m-0 font-weight-bold">Companies Employed At</p>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                                    <table class="table dataTable my-0" id="reportTable">
                                        <thead>
                                            <tr>
                                                <!-- <th class="text-left">Logo</th> -->
                                                <th>Company Name</th>
                                                <!-- <th class="text-left">Supervisor</th> -->
                                                <th>Employee ID</th>
                                                <th>Ocupation</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                       <tbody>
                                           <tr>
                                               {% for item in data %}
                                               <td>{{item.companyName}}</td>
                                               <td>{{item.user2companyId}}</td>
                                               <td>{{item.occupation}}</td>
                                               {% endfor %}
                                           </tr>
                                       </tbody>
                                        <!-- <tfoot>
                                            <tr>
                                                <td><strong>Logo</strong></td>
                                                <td><strong>Company Name</strong></td>
                                                <td><strong>Supervisor</strong></td>
                                                <td><strong>Employee ID</strong></td>
                                                <td><strong>Ocupation</strong></td>
                                                <td><strong></strong></td>
                                            </tr>
                                        </tfoot> -->
                                    </table>
                                </div>
                                <div class="row">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card shadow mb-5"></div>
            </div>
        </div>
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © Prevworks 2020</span></div>
            </div>
        </footer>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
    <div class="modal fade text-left" role="dialog" tabindex="-1" id="profilePicModal">
        <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header text-center d-xl-flex m-auto">
                    <h4 class="modal-title text-center d-xl-flex" id="modal-title">Change Profile Picture</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick=""><span aria-hidden="true">×</span></button></div>
                <div class="modal-body">
                    <div class="card border-dark">
                        <div class="card-body">
                            <div class="row">
                                <div class="col text-center">
                                    <div class="form-group"><h5 id="current-profile-pic" style="font-style: italic">Current Profile Picture</h5></div>
                                    <img id="profile-pic-modal" class="rounded-circle mb-3 mt-4" src="assets/img/dogs/image2.jpeg" width="160" height="160">
                                    <div class="mb-3">
                                        <label for="profile_pic_modal" style="font-weight: bold">Choose new profile picture to upload:</label>
                                        <br/>
                                        <label for="profile_pic_modal" style="font-style: italic; font-size: small">* Please ensure that file type of selected image is PNG.</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-center">
                                    <form method="post" id="profile_pic_form_modal" action="http://localhost:5000/users/edit/profile-pic" enctype="multipart/form-data" onsubmit="return updateProfilePic()">
                                        <div class="mb-3">
                                            <input type="file" id="profile_pic_modal" name="profile_pic" accept=".png" required="">
                                        </div>
                                        <div class="mb-3">
                                            <button class="btn btn-primary btn-sm" type="submit">Change Photo</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal" onclick="">Close</button></div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/chart.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="assets/js/humanbody.js"></script>
    <script src="assets/js/theme.js"></script>
    <script type="text/javascript">

        // Alert shown after submitting injury form.
        function reportAlert(){

            // Confirmation message.
            return confirm("Are you sure that the information entered is accurate. If so, then click 'OK' to confirm changes made. Else select 'Cancel' to review changes and make any revisions.");
        }

        function getCookie(name) {
            // Split cookie string and get all individual name=value pairs in an array
            var cookieArr = document.cookie.split(";");
            
            // Loop through the array elements
            for(var i = 0; i < cookieArr.length; i++) {
                var cookiePair = cookieArr[i];
                
                /* Removing whitespace at the beginning of the cookie name
                and compare it with the given string */
                if(cookiePair.trim().indexOf(name+"=") == 0) {
                    // Decode the cookie value and return
                    var res = cookiePair.replace(name+"=", "");
                    return res;
                }
            }
            
            // Return null if not found
            return null;
        }

        // Setting the field values using different items from the cookie
        console.log("\n\n\nUserData cookie: ", JSON.parse(getCookie("userData")), "\n\n\n")
        // let CookieString = document.cookie;
        // CookieString = CookieString.replace("userData=", "");
        // const userData = JSON.parse(CookieString);
        const userData = JSON.parse(getCookie("userData"));
        console.log("Cookie passed to the profile page");
        console.log(userData);

        document.getElementById('first-name').value = userData.data.first_name;
        document.getElementById('last-name').value = userData.data.last_name;
        document.getElementById('company-name').value =userData.data.company_name;
        document.getElementById('employee-id').value = userData.data.employee_id;
        document.getElementById('occupation').value = userData.data.occupation;
        document.getElementById('prev-occupation').value = userData.data.prev_occupation;
        //TODO: Get the right employee name, with the employee Ref.
        document.getElementById('supervisor').value = userData.data.supervisor_name;
        // Filling in the Contact Info
        document.getElementById('email').value = userData.data.email;
        document.getElementById('phone').value = userData.data.phone;
        document.getElementById('street-address').value = userData.data.address;
        document.getElementById('city').value = userData.data.city;
        document.getElementById('state').value = userData.data.state;

        // document.getElementById('profile-pic').src = userData.data.profile_pic;
        // Filling in values at top of page.
        document.getElementById('full-name').innerText = userData.data.first_name + " " + userData.data.last_name;
        // document.getElementById('upper-profile-pic').src = userData.data.profile_pic;
        document.getElementById('gender').value = userData.data.gender;
        document.getElementById('birthday').value = userData.data.birthday;

        // If a profile pic has been previously uploaded by user than include on the page.
        if(userData.profilePic){
            document.getElementById('profile-pic').src = userData.profilePic;
            document.getElementById('upper-profile-pic').src = userData.profilePic;
            document.getElementById('profile-pic-modal').src = userData.profilePic;
        }

        function updateProfilePic(){
            // Making the request to add the profile picture:
            let request = new XMLHttpRequest();
            request.open("POST", "http://localhost:5000/users/edit/profile-pic", false);
            request.setRequestHeader("Set-Cookie", JSON.stringify(userData));
            request.send(new FormData(document.getElementById("profile_pic_form_modal")));
            const pictureResp = JSON.parse(request.responseText);

            // Checking the message to see the status of the picture upload
            if(pictureResp.message === "Uploaded pic"){
                alert("The new profile picture has been successfully uploaded, please wait for a few moments for the profile picture to be updated.");

                // TODO: Get the latest profile pic info and update the cookie:
                let reqUrl = "http://localhost:5000/users/" + userData.id;
                const reqxhttp = new XMLHttpRequest();
                reqxhttp.open("GET", reqUrl, false);
                reqxhttp.send();
                let userResp = JSON.parse(reqxhttp.responseText);
                console.log(userResp.profilePic);

                // Updating the profile pic:
                document.getElementById('profile-pic').src = userResp.profilePic;
                document.getElementById('upper-profile-pic').src = userResp.profilePic;
                document.getElementById('profile-pic-modal').src = userResp.profilePic;

                // Updating the cookie to include new profile picture:
                userData.profilePic = userResp.profilePic;
                document.cookie = "userData=" + JSON.stringify(userData);
            }
            else{
                alert("Error encountered when uploading the new profile picture, please try again or select a different picture.");
            }


            return false
        }

    </script>
</body>

</html>