<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid-19 Simulation</title>

    <!--<link rel="stylesheet" href="assets/css/simulationstyle.css"> -->


    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/simulationstyle.css')}}">

</head>
<body>
<div id="container">

    <div id="left-box">
        <h3 class="no-top">Employee Info</h3>
        <p class="stat-l">Employee Name:</p>
        <p class="stat-d">{{ session['username'] }}</p>
        <p class="stat-l">Employee ID:</p>
        <p class="stat-d">{{session['user_id']}}</p>
        <p class="stat-l">Status:</p>
        <p class="stat-d">Unvaccinated</p>
    </div>

        <div id="middle-box">
            <h3 class="no-top">Controls</h3>
            <label for="population">Population Size:</label>
            <input type="number" id="population" name="population" min="20" max="380" value="200">
            <label for="init-infected">Inital infected:</label>
            <input type="number" id="init-infected" name="init-infected" min="0" max="380" value="5">
            <label for="per-vaxxed">Percentage Vaccinated:</label>
            <input type="number" id="per-vaxxed" name="per-vaxxed" min="0" max="100" value="50">
            <div class="btn-container">
                <button class="btn" id="run-btn">run</button>
                <button class="btn" id="stop-btn">stop</button>
                <button class="btn" id="reset-btn">reset</button>
            </div>
            <div class="btn-container">
                <button class="btn-wide" id="vaxxed-btn">vaccinated</button>
                <button class="btn-wide" id="unvaxxed-btn">unvaccinated</button>
            </div>
            <div class="btn-container">
                <button class="btn-wide" id="wall-btn">wall</button>
                <button class="btn-wide" id="infected-btn">infected</button>
            </div>
            <div class="btn-container">
                <button class="btn-wide" id="erase-btn">erase</button>
                <button class="btn-wide" id="select-btn">select</button>

            </div>  

            <div class="employee-Container">
                <h3 class="no-top">Employees:</h3>
                <div class="btn-container">
                    <button class="btn-wide btn-employee" data-id="5">John Jones</button>
                    <button class="btn-wide btn-employee" data-id="6">Erica Smith</button>
                </div>
                <div class="btn-container">
                    <button class="btn-wide btn-employee" data-id="7">Alice Young</button>
                    <button class="btn-wide btn-employee" data-id="8">Donald White</button>
                </div>
                <div class="btn-container">
                    <button class="btn-wide btn-employee" data-id="9">Angela Lewis</button>
                    <button class="btn-wide btn-employee" data-id="10">Martin Strong</button>
                </div>
            </div>
        </div>

        <div id="right-box">
            <h3 class="no-top">Instructions</h3>
            <p>Welcome to the Covid-19 Outbreak Simulator!</p>
            <p>This tool was created to help you better assess the potential spread of covid within your community.</p>
            <p>Circles represent unvaccinated individuals, hexagons represent vaccinated individuals, and diamonds represent infected individuals. Unknown that are infected are red and otherwise are tan. Named employees each have a unique color.</p>
            <p>if you would like to add people or walls to specific locations in the simulation, first select what you want to add using the grey buttons the control panel and then click directly on the canvas.</p>
            <h3 class="no-top">Statistics</h3>
            <p class="stat-l">Day:</p>
            <p class="stat-d" id="day-count">0</p>
            <p class="stat-l">Infected:</p>
            <p class="stat-d" id="infected-count">0</p>
            <p class="stat-l">Remaining Unvaccinated:</p>
            <p class="stat-d" id="unvaxxed-count">0</p>
            <p class="stat-l">Remaining Vaccinated:</p>
            <p class="stat-d" id="vaxxed-count">0</p>

    <div id="left-box">
        <h3 class="no-top">Covid-19 Outbreak Simulator</h3>
        <div id="canvas-container"></div>
    </div>

    <div id="middle-box">
        <h3 class="no-top">Controls</h3>
        <label for="population">Population Size:</label>
        <input type="number" id="population" name="population" min="20" max="380" value="200">
        <label for="init-infected">Inital infected:</label>
        <input type="number" id="init-infected" name="init-infected" min="0" max="380" value="5">
        <label for="per-vaxxed">Percentage Vaccinated:</label>
        <input type="number" id="per-vaxxed" name="per-vaxxed" min="0" max="100" value="50">
        <div class="btn-container">
            <button class="btn" id="run-btn">run</button>
            <button class="btn" id="stop-btn">stop</button>
            <button class="btn" id="reset-btn">reset</button>

        </div>
        <div class="btn-container">
            <button class="btn-wide" id="vaxxed-btn">vaccinated</button>
            <button class="btn-wide" id="unvaxxed-btn">unvaccinated</button>
        </div>
        <div class="btn-container">
            <button class="btn-wide" id="wall-btn">wall</button>
            <button class="btn-wide" id="infected-btn">infected</button>
        </div>
        <div class="btn-container">
            <button class="btn-wide" id="erase-btn">erase</button>
        </div>
        <div class="employee-Container">
                <h3 class="no-top">Employees:</h3>
                <div class="btn-container">
                    <button class="btn-wide btn-employee" data-id="5">{{employees[0][2]}} {{employees[0][3]}}</button>
                    <button class="btn-wide btn-employee" data-id="6">{{employees[1][2]}} {{employees[1][3]}}</button>
                </div>
                <div class="btn-container">
                    <button class="btn-wide btn-employee" data-id="7">{{employees[2][2]}} {{employees[2][3]}}</button>
                    <button class="btn-wide btn-employee" data-id="8">{{employees[3][2]}} {{employees[3][3]}}</button>
                </div>
                <div class="btn-container">
                    <button class="btn-wide btn-employee" data-id="9">{{employees[4][2]}} {{employees[4][3]}}</button>
                    <button class="btn-wide btn-employee" data-id="10">{{employees[5][2]}} {{employees[5][3]}}</button>
                </div>
            </div>

    </div>


    <div id="select-box">
        <p>Name: <span id="name">???</span></p>
        <p>Employee Id: <span id="employee-id">???</span></p>
        <p>Status: <span id="status">???</span></p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/p5@1.4.1/lib/p5.js"></script>
    
    <!--<script src="assets/js/simulationscript.js"></script> -->
    <script src="{{url_for('static', filename='assets/js/simulationscript.js')}}"></script>

    <div id="right-box">
        <h3 class="no-top">Instructions</h3>
        <p>Welcome to the Covid-19 Outbreak Simulator!</p>
        <p>This tool was created to help you better assess the potential spread of covid within your community.</p>
        <p>Green dots represent infected individuals, tan dots represent unvaccinated individuals, blue dots represent
            vaccinated individuals, and grey squares represent walls.</p>
        <p>if you would like to add people or walls to specific locations in the simulation, first select what you want
            to add using the grey buttons the control panel and then click directly on the canvas.</p>
        <h3 class="no-top">Statistics</h3>
        <p class="stat-l">Day:</p>
        <p class="stat-d" id="day-count">0</p>
        <p class="stat-l">Infected:</p>
        <p class="stat-d" id="infected-count">0</p>
        <p class="stat-l">Remaining Unvaccinated:</p>
        <p class="stat-d" id="unvaxxed-count">0</p>
        <p class="stat-l">Remaining Vaccinated:</p>
        <p class="stat-d" id="vaxxed-count">0</p>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/p5@1.4.1/lib/p5.js"></script>

<!--<script src="assets/js/simulationscript.js"></script> -->
<script src="{{url_for('static', filename='assets/js/simulationscript.js')}}"></script>


</body>
</html>