<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>PrevWORKS - COVID-19 Information</title>

    <link rel="stylesheet" href="{{url_for('static', filename='assets/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/fonts/fontawesome-all.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/humanbody.css')}}">

</head>

<body id="page-top">
    <input type="text" id="flag" style="visibility: hidden" value="1">
    <div id="wrapper">
        <nav class="
          navbar navbar-dark
          align-items-start
          sidebar sidebar-dark
          accordion
          bg-gradient-primary
          p-0
        ">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="
              navbar-brand
              d-flex
              justify-content-center
              align-items-center
              sidebar-brand
              m-0
            " href="#">
                    <div class="sidebar-brand-icon rotate-n-15"></div>
                    <img class="d-inline float-left" src="{{url_for('static', filename='assets/img/PrevWORKS just logo.png')}}" width="37" />
                    <div class="sidebar-brand-text mx-3"><span>PrevWorks</span></div>
                </a>
                <hr class="sidebar-divider my-0" />
                <ul class="nav navbar-nav text-light" id="accordionSidebar">

                <li class="nav-item" role="presentation">
                 <a class="nav-link" href="{{ url_for('profile') }}"><i class="fas fa-user"></i><span>Profile</span></a>
                <a class="nav-link" href="{{ url_for('companies') }}"><i class="fas fa-table"></i><span>Companies</span></a>
              <a class="nav-link active" href="{{ url_for('report_injury') }}"><i class="fab fa-wpforms"></i><span>Report Injury</span></a>
              <a class="nav-link" href="{{ url_for('assessment') }}"><i class="fas fa-tachometer-alt"></i><span>Health Assesment</span></a>
              <a class="nav-link" href="{{ url_for('table') }}"><i class="fas fa-table"></i><span>Injuries</span></a>
              <a class="nav-link" href="{{ url_for('simulation') }}"><i class="fas fa-table"></i><span>Simulation</span></a>
            </li>

            <li class="nav-item" role="presentation">
              <a class="nav-link" data-toggle="dropdown" href="#"
                >My Company Tools<i class="caret"></i
              ></a>
                        <ul class="dropdown-menu" class="nav navbar-nav text-light" id="accordionSidebar">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" href="analytics.html"><i class="fas fa-tachometer-alt"></i
                    ><span>Analytics</span></a
                  >
                  <a class="nav-link" href="employees"
                    ><i class="fas fa-table"></i><span>Employees</span></a
                  >
                  <a class="nav-link" href="injuries"
                    ><i class="fab fa-wpforms"></i
                    ><span>Injury Reports</span></a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" href="login"
                ><i class="far fa-user-circle"></i><span>Logout</span></a
              >
            </li>
            <li class="nav-item" role="presentation"></li>
          </ul>
          <div class="text-center d-none d-md-inline">
            <button
              class="btn rounded-circle border-0"
              id="sidebarToggle"
              type="button"
            ></button>
          </div>
        </div>
      </nav>
      <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
          <nav
            class="
              navbar navbar-light navbar-expand
              bg-white
              shadow
              mb-4
              topbar
              static-top
            "
          >
            <div class="container-fluid">
              <button
                class="btn btn-link d-md-none rounded-circle mr-3"
                id="sidebarToggleTop"
                type="button"
              >
                <i class="fas fa-bars"></i>
              </button>
              <ul class="nav navbar-nav flex-nowrap ml-auto">
                <li class="nav-item dropdown d-sm-none no-arrow">
                  <a
                    class="dropdown-toggle nav-link"
                    data-toggle="dropdown"
                    aria-expanded="false"
                    href="#"
                    ><i class="fas fa-search"></i
                  ></a>
                                <div class="
                      dropdown-menu dropdown-menu-right
                      p-3
                      animated--grow-in
                    " role="menu" aria-labelledby="searchDropdown">
                                    <form class="form-inline mr-auto navbar-search w-100">
                                        <div class="input-group">
                                            <input class="bg-light form-control border-0 small" type="text" placeholder="Search for ..." />
                                            <div class="input-group-append">
                                                <button class="btn btn-primary py-0" type="button">
                            <i class="fas fa-search"></i>
                          </button>

                                            </div>
                                        </form>
                                    </div>
                                </li>
                                <li class="nav-item dropdown no-arrow" role="presentation">
                                    <div class="nav-item dropdown no-arrow">
                                        <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">
                                            <span id="full-name" class="d-none d-lg-inline mr-2 text-gray-600 small">Welcome, {{session['username']}}!</span>
                                            <img id="upper-profile-pic" class="border rounded-circle img-profile" src="../static/assets/img/dogs/image2.jpeg" />
                                        </a>
                                        <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in" role="menu">
                                            <a class="dropdown-item" role="presentation" href="profile.html"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Profile</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" role="presentation" href="#"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow" role="presentation">
                                <div class="nav-item dropdown no-arrow">
                                    <div class="
                        dropdown-menu
                        shadow
                        dropdown-menu-right
                        animated--grow-in
                      " role="menu">
                                        <a class="dropdown-item" role="presentation" href="profile"><i
                          class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"
                        ></i
                        >&nbsp;Profile</a
                      >
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" role="presentation" href="#"
                        ><i
                          class="
                            fas
                            fa-sign-out-alt fa-sm fa-fw
                            mr-2
                            text-gray-400
                          "
                        ></i
                        >&nbsp;Logout</a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </nav>
          <div class="container-fluid" style="padding: 24px 24px">
            <h3 class="text-dark mb-4">COVID-19 Vaccine Information</h3>
            <div class="card">
                <div class="card-body">
                    <!-- <iframe src="https://ourworldindata.org/explorers/coronavirus-data-explorer?zoomToSelection=true&time=latest&facet=none&pickerSort=asc&pickerMetric=location&hideControls=true&Metric=People+vaccinated+%28by+dose%29&Interval=7-day+rolling+average&Relative+to+Population=true&Color+by+test+positivity=false&country=USA~ETH~GBR~CHN~CAN~ARE" loading="lazy" style="width: 100%; height: 600px; border: 0px none;"></iframe>                </div> -->
                    <iframe src="https://ourworldindata.org/grapher/us-state-covid-vaccines-per-100?time=latest&country=California~Oregon~Utah~Nevada~New+Mexico~Florida~Arizona" loading="lazy" style="width: 100%; height: 600px; border: 0px none;"></iframe>
                </div>
                <div class="card-shadow mb-5"></div>
                  <div class="form-row mb-3">
                      <div class="card">
                          <div class="card-body">
                              <h3 class="text-dark mb-4">Informative Content</h3>
                              <div class="row">
                                <div class="col-sm">
                                  <iframe width="480" height="270" src="https://www.youtube.com/embed/Pao8171B354?autoplay=0&mute=1"></iframe>
                                </div>
                                <div class="col-sm">
                                  <iframe width="480" height="270" src="https://www.youtube.com/embed/uWGTciX795o?autoplay=0&mute=1"></iframe>
                                </div>
                                <div class="col-sm">
                                  <iframe width="480" height="270" src="https://www.youtube.com/embed/qXdjt8ZBQbE?autoplay=0&mute=1"></iframe>
                                </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="card shadow mb-5"></div>
                      <div class="card">
                          <div class="card-body">
                              <h3 class="text-dark mb-4">Schedule Your Dose</h3></label>
                              <hr style="width:100%;text-align:left;margin-left:0">
                              <div class="container-fluid">
                                  <div class="row justify-content: left">
                                    <div class="col" style="border-block-color:light">
                                      <a class="text-dark mb-4" href="https://www.vaccines.gov/">Vaccines.gov</a><br>
                                    </div>
                                    <div class="col">
                                      <a class="text-dark mb-4" href="https://www.cvs.com/immunizations/covid-19-vaccine">CVS</a><br>
                                    </div>
                                    <div class="col">
                                      <a class="text-dark mb-4" href="https://book.curative.com/search">Curative</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                    
                    <div class="container-fluid" style="padding: 24px 24px">
                      <br>
                      <h3 class="text-dark mb-4">COVID-19 Quarantine Information</h3>
                        <div class="card shadow mb-5"></div>
                        <div class="form-row mb-3">
                            <div class="col">
                                <div class="card">
                                    <div class="card-body">
                                        <h3 class="text-dark mb-4">Informative Content</h3>
                                        <div class="row">
                                          <div class="col-sm">
                                            <iframe width="480" height="270" src="https://www.youtube.com/embed/Y2G-GEHws8Q?autoplay=0&mute=1"></iframe>
                                          </div>
                                          <div class="col-sm">
                                            <iframe width="480" height="270" src="https://www.youtube.com/embed/eRK_206bJuY?autoplay=0&mute=1"></iframe>
                                          </div>
                                          <div class="col-sm">
                                            <iframe width="480" height="270" src="https://www.youtube.com/embed/9Zfqfv2uDsI?autoplay=0&mute=1"></iframe>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card shadow mb-5"></div>
                            <div class="card">
                                <div class="card-body">
                                    <h3 class="text-dark mb-4">Additional Resources</h3></label>
                                    <hr style="width:100%;text-align:left;margin-left:0">
                                    <div class="container-fluid">
                                        <div class="row justify-content: left">
                                          <div class="col" style="border-block-color:light">
                                            <a class="text-dark mb-4" href="https://www.cdc.gov/coronavirus/2019-ncov/your-health/quarantine-isolation.html">Quarantine/Isolation Protocol (cdc.gov)</a><br>
                                          </div>
                                          <div class="col">
                                            <a class="text-dark mb-4" href="https://www.mass.gov/info-details/covid-19-isolation-and-quarantine-guidance-for-the-general-public">Quarantine Guidance (mass.gov)</a><br>
                                          </div>
                                          <div class="col">
                                            <a class="text-dark mb-4" href="https://www.cdc.gov/media/releases/2021/s1227-isolation-quarantine-guidance.html">Updated Isolation Protocol (cdc.gov)</a>
                                          </div>
                                        </div>
                                      </div>
                                </div>
                            </div>
                          </div>
                        </div>
            </div>
                <footer class="bg-white sticky-footer">
                    <div class="container my-auto">
                        <div class="text-center my-auto copyright">
                            <span>Copyright © Prevworks 2020</span>
                        </div>
                    </div>
                </footer>
        </form>
    </div>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
    <script src="{{url_for('static', filename='assets/js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/chart.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/bs-init.js')}}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="{{url_for('static', filename='assets/js/humanbody.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/theme.js')}}"></script>
    </body>
</html>